.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imggrid {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 35px;
  text-align: center;
  
}
.imggrid p {
  margin-top: 7px;
  margin-bottom: 2px;
}
.imgContent{
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 4px;
  margin-bottom: 10px;
  border: 2px solid red;
  
}

.imgContent img{
  height:300px;
  width: 100%;
}